<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write-Up</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <h1>Welcome to Write-Up</h1>
    </header>
    <nav>
        <a href="#about">About Us</a><br><br>
        <a href="#events">Events</a><br><br>
        <a href="#member">Member</a><br><br>
        <a href="#blog">Blog</a><br><br>
        <a href="#resources">Resources</a><br><br>
        <a href="#contact">Contact</a>
    </nav>
    <div class="container">
        <section id="about" class="content">
            <!--About_Us.md-->
            {{ sections.section0|safe }}
        </section>
        <section id="events" class="content">
            <!--Events.md-->
            {{ sections.section1|safe }}
        </section>
        <section id="member" class="content">
            <!--Member.md-->
            {{ sections.section2|safe }}
        </section>
        <section id="blog" class="content">
            <!--Blog.md-->
            {{ sections.section3|safe }}
        </section>
        <section id="resources" class="content">
            <!--Resources.md-->
            {{ sections.section4|safe }}
        </section>
        <section id="contact" class="content">
            <!--Contact.md-->
            {{ sections.section5|safe }}
        </section>
    </div>

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}"> </script>
</body>

</html>