<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<!-- CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
	<h1>Login</h1>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul class=flashes>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	<form id="loginForm" method="POST" action="{{ url_for('auth.login') }}">
		<input type="email" name="email" id="email" placeholder="Email" required autocomplete="email">
		<input type="password" name="password" id="password" placeholder="Password" required
			autocomplete="current-password">
		<button type="submit">Login</button>
	</form>
	<a href="{{ url_for('auth.register') }}">계정이 없다면, 회원가입하세요</a>
</body>

</html>